<h1 *ngIf="listUsers">Displaying {{listUsers.length}} users</h1>
<div class="main-content">
    <mat-card class="list-users" role="listitem" *ngFor="let user of listUsers">
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-content>
            {{user.email}}
        </mat-card-content>
        <mat-card-actions>
            <a class="action-link" [routerLink]="['/users/edit', user.id]">Edit |</a> <a class="action-link"
                [routerLink]="['/users/delete', user.id]">Delete |</a> <a class="action-link"
                [routerLink]="['/users/view', user.id]">View |</a>
        </mat-card-actions>
    </mat-card>
</div>